CompileFlags:
  Add:
    - --cuda-path=/opt/cuda
    - -I/opt/cuda/include
    - -x
    - cuda
    - --no-cuda-version-check
  Remove:
    - -Xcompiler=-Wall,-Winvalid-pch,-Wextra
    - -forward-unknown-to-host-compiler